In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

1.b.Create a simple program that create a list of 10 random elements, put it on a rdd and divide the even digits by two while putting odd digits to the square.

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Initialize SparkSession
spark = SparkSession.builder.appName("Testing PySpark Example").getOrCreate()

# Create a list of 10 random elements
import random
random_list = [random.randint(1, 100) for _ in range(10)]

# Parallelize the list into an RDD
rdd = spark.sparkContext.parallelize(random_list)

# Function to process elements based on condition
def process_element(num):
    if num % 2 == 0:  # Check if the number is even
        return num / 2
    else:
        return num ** 2

# Apply the function to each element of the RDD
processed_rdd = rdd.map(process_element)

# Collect the results and print them
result = processed_rdd.collect()
print("Original List:", random_list)
print("Processed List:", result)

Original List: [71, 22, 7, 55, 62, 6, 54, 11, 59, 75]
Processed List: [5041, 11.0, 49, 3025, 31.0, 3.0, 27.0, 121, 3481, 5625]

1.c.write a program to load the json file movies-2020s (do not forget the option(’multilines’, True)). Give the live of Horror movies of 2011

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, length, array_contains

# Initialize Spark session
spark = SparkSession.builder.appName("Movies Analysis").getOrCreate()

# Load the JSON file
movies_df = spark.read.option("multiline", True).json("movies-2020s.json")

# Filter for Horror movies from 2021
horror_movies_2011_df = movies_df.filter(
    array_contains(col("genres"), "Horror") & (col("year") == 2021)
)

# Show the result for Horror movies of 2021
print("Horror Movies of 2011:")
horror_movies_2011_df.show(truncate=False)

Horror Movies of 2011:
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+--------------------------------------+----------------------------------------------------------------------------------------------------+----------------+---------------+--------------------------------------+----+
|cast                                                                                                                                                                                           |extract                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |genres                   |href                                  |thumbnail                                                                                           |thumbnail_height|thumbnail_width|title                                 |year|
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------+--------------------------------------+----------------------------------------------------------------------------------------------------+----------------+---------------+--------------------------------------+----+
|[Chloë Grace Moretz, Taylor John Smith, Beulah Koale, Callan Mulvey, Nick Robinson]                                                                                                            |Shadow in the Cloud is a 2020 action horror film directed by Roseanne Liang, from a screenplay by Liang and Max Landis, starring Chloë Grace Moretz, Beulah Koale, Taylor John Smith, Callan Mulvey and Nick Robinson. It follows a female flight officer on a top-secret mission in the Pacific during the Second World War, who after boarding a Boeing B-17 Flying Fortress, encounters an evil gremlin during the flight.                                                                                                                                                                                                                                                                                                                                                                                          |[Action, Horror]         |Shadow_in_the_Cloud                   |https://upload.wikimedia.org/wikipedia/en/0/0e/Shadow_in_the_Cloud.png                              |371             |250            |Shadow in the Cloud                   |2021|
|[Charlotte Vega, Adain Bradley, Bill Sage, Emma Dumont, Dylan McTee, Daisy Head, Matthew Modine]                                                                                               |Wrong Turn, originally known as Wrong Turn: The Foundation, is a 2021 horror film directed by Mike P. Nelson and written by franchise creator Alan McElroy. The film, being a reboot, is the seventh installment of the Wrong Turn film series, stars Charlotte Vega, Adain Bradley, Emma Dumont, Dylan McTee, Daisy Head, Bill Sage, and Matthew Modine. It is an international co-production between the United States, Germany, and Canada.                                                                                                                                                                                                                                                                                                                                                                         |[Horror]                 |Wrong_Turn_(2021_film)                |https://upload.wikimedia.org/wikipedia/en/5/5d/WrongTurn2021poster.jpg                              |384             |259            |Wrong Turn                            |2021|
|[Nicolas Cage, Emily Tosta, Ric Reitz, Beth Grant]                                                                                                                                             |Willy's Wonderland is a 2021 American action comedy horror film directed by Kevin Lewis from a screenplay by G. O. Parsons. The film stars Nicolas Cage, who also served as producer, along with Emily Tosta, Ric Reitz, Chris Warner, Kai Kadlec, Christian Del Grosso, Caylee Cowan, Terayle Hill, Jonathan Mercedes, David Sheftell and Beth Grant. It follows a quiet drifter who is tricked into cleaning up an abandoned family entertainment center as he is stalked by eight murderous animatronic characters possessed by the souls of a cannibalistic killer and his seven psychotic acolytes.                                                                                                                                                                                                               |[Action, Comedy, Horror] |Willy%27s_Wonderland                  |https://upload.wikimedia.org/wikipedia/en/e/e0/Willys_wonderland.jpg                                |384             |259            |Willy's Wonderland                    |2021|
|[Dave Davis, Menashe Lustig, Malky Goldman, Fred Melamed, Lynn Cohen]                                                                                                                          |The Vigil is a 2019 American supernatural horror film written and directed by Keith Thomas in his feature directorial debut. It stars Dave Davis, Menashe Lustig, Malky Goldman, Fred Melamed and Lynn Cohen, and follows a young man who is tasked with keeping vigil over a deceased member of his former Orthodox Jewish community, only to be targeted by a malevolent spirit known as a Mazzik. Jason Blum serves as an executive producer through his Blumhouse Productions banner.                                                                                                                                                                                                                                                                                                                              |[Horror, Supernatural]   |The_Vigil_(2019_film)                 |https://upload.wikimedia.org/wikipedia/en/2/2e/The_Vigil_%282019%29_international_release_poster.jpg|327             |245            |The Vigil                             |2021|
|[Guy Pearce, Vadhir Derbez, Stephen Lang, Keith David, Robin Bartlett]                                                                                                                         |The Seventh Day is a 2021 American horror film written and directed by Justin P. Lange. It stars Guy Pearce, Vadhir Derbez, Stephen Lang and Keith David.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |[Horror]                 |The_Seventh_Day_(2021_film)           |https://upload.wikimedia.org/wikipedia/en/0/00/The_Seventh_Day_poster.jpg                           |382             |258            |The Seventh Day                       |2021|
|[Jeffrey Dean Morgan, Katie Aselton, William Sadler, Cricket Brown, Diogo Morgado, Cary Elwes]                                                                                                 |The Unholy is a 2021 American supernatural horror film written, produced, and directed by Evan Spiliotopoulos, based on the 1983 novel Shrine by James Herbert. Produced by Sam Raimi through his Ghost House Pictures banner, it stars Jeffrey Dean Morgan, Katie Aselton, William Sadler, Diogo Morgado, Cricket Brown, and Cary Elwes. The film follows on a disgraced journalist (Morgan) who discovers a series of seemingly divine miracles in a small New England town and uses them to resurrect his career, though those ‘miracles’ may have a much darker source.                                                                                                                                                                                                                                            |[Horror, Supernatural]   |The_Unholy_(2021_film)                |https://upload.wikimedia.org/wikipedia/en/b/b2/The_Unholy_2021_Film_Poster.png                      |353             |282            |The Unholy                            |2021|
|[Aidan Bristow, Sophie Kargman, Susan Wilder, Lindsay Ginter, Robbie Goldstein, Billy Zane]                                                                                                    |The Believer is a 2021 American horror film written and directed by Shan Serafin. It stars Aidan Bristow, Sophie Kargman, Susan Wilder, Lindsay Ginter, Robbie Goldstein and Billy Zane. It runs for 91 minutes. The film is about a woman driven murderously insane by a mad doctor's strange alternative therapy.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    |[Horror]                 |The_Believer_(2021_film)              |https://upload.wikimedia.org/wikipedia/en/3/3a/Believer.jpg                                         |384             |259            |The Believer                          |2021|
|[Francesca Anderson, Adrián Burke, Chris Cimperman, Ariella Mastroianni, Roger Mayer]                                                                                                          |Dawn of the Beast is a 2021 American horror film written by Anna Shields and directed by Bruce Wemple. It stars Francesca Anderson, Adrián Burke, Chris Cimperman, Ariella Mastroianni, Roger Mayer and Anna Shields. The film is about graduate students searching for a bigfoot.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |[Horror]                 |Dawn_of_the_Beast                     |https://upload.wikimedia.org/wikipedia/en/7/74/Dawn_of_the_Beast.jpeg                               |387             |258            |Dawn of the Beast                     |2021|
|[Joel Fry, Reece Shearsmith, Hayley Squires, Ellora Torchia, John Hollingworth, Mark Monero]                                                                                                   |In the Earth is a 2021 science fiction horror film written and directed by Ben Wheatley. The film stars Joel Fry, Reece Shearsmith, Hayley Squires, Ellora Torchia, John Hollingworth and Mark Monero.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |[Horror, Science Fiction]|In_the_Earth                          |https://upload.wikimedia.org/wikipedia/en/b/be/In_the_Earth_movie_poster.jpg                        |384             |259            |In the Earth                          |2021|
|[Gina La Piana, Robert Miano, Johann Urb, Silvia Spross, Jackie Debatin, Nicolas Coster]                                                                                                       |The Deep Ones is a 2020 American horror science fiction film written and directed by Chad Ferrin and based on H.P. Lovecraft's 1931 novel The Shadow over Innsmouth. The film stars Gina La Piana, Robert Miano, Johann Urb, Silvia Spross, Jackie Debatin, Nicolas Coster and was produced by Chad Ferrin, Gina La Piana, Robert Miano and Jeff Olan. It was premiered at Sitges Film Festival on October 10, 2020. The film is about a couple that is recovering from a recent miscarriage encounters overly friendly locals and strange goings-on at a coastal getaway.                                                                                                                                                                                                                                             |[Horror, Science Fiction]|The_Deep_Ones                         |https://upload.wikimedia.org/wikipedia/en/b/b1/The_Deep_Ones.jpeg                                   |383             |260            |The Deep Ones                         |2021|
|[Amanda Seyfried, James Norton, Natalia Dyer, F. Murray Abraham]                                                                                                                               |Things Heard & Seen is a 2021 American horror film written and directed by Shari Springer Berman and Robert Pulcini, based on the novel All Things Cease to Appear by Elizabeth Brundage. It stars Amanda Seyfried and James Norton. It was released on April 29, 2021, by Netflix, and received mostly negative reviews from critics.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |[Horror]                 |Things_Heard_%26_Seen                 |https://upload.wikimedia.org/wikipedia/en/f/fb/Things_Heard_and_Seen_poster.jpeg                    |326             |220            |Things Heard & Seen                   |2021|
|[Rupert Friend, Mamie Gummer, Violet McGraw, Brian Cox]                                                                                                                                        |Separation is a 2021 American supernatural horror film directed by William Brent Bell, from a screenplay by Nick Amadeus and Josh Braun. It stars Rupert Friend, Mamie Gummer, Madeline Brewer, Violet McGraw, Simon Quarterman, and Brian Cox. The film follows a father who must take care of his daughter, after his wife, who filed for divorce, suddenly dies in an accident, as the two become haunted by a mysterious entity.                                                                                                                                                                                                                                                                                                                                                                                   |[Horror, Supernatural]   |Separation_(2021_film)                |https://upload.wikimedia.org/wikipedia/en/5/5e/Separation_2021_Film_poster.png                      |385             |259            |Separation                            |2021|
|[Brock O'Hurn, Avery Pascual, Michael Vlamis, Michelle Randolph, Bianca Haase]                                                                                                                 |The Resort is a 2021 American horror film written and directed by Taylor Chien. It stars Bianca Haase, Brock O'Hurn, Michael Vlamis, and Michelle Randolph. The movie was shot in 2019, and hip-hop artist Quavo helped produce it after being encouraged by main producer Will Meldman.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |[Horror]                 |The_Resort_(film)                     |https://upload.wikimedia.org/wikipedia/en/a/a1/Resort_2021.jpg                                      |384             |259            |The Resort                            |2021|

In [4]:
# Load the JSON file
movies_df = spark.read.option("multiline", True).json("movies-2020s.json")

from pyspark.sql.functions import array_contains

# Filter Horror movies
horror_movies_df = movies_df.filter(array_contains(col("genres"), "Horror"))

# Show the result
horror_movies_df.show(truncate=False)

+-----------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------+----------------------------------+-----------------------------------------------------------------------------------------------------------+----------------+---------------+----------------------------------+----+
|cast                                                                                                             |extract                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |genres                           |href                              |thumbnail                                                                                                  |thumbnail_height|thumbnail_width|title                             |year|
+-----------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------------------+----------------------------------+-----------------------------------------------------------------------------------------------------------+----------------+---------------+----------------------------------+----+
|[Andrea Riseborough, Demián Bichir, John Cho, Betty Gilpin, Lin Shaye, Jacki Weaver]                             |The Grudge is a 2020 American psychological supernatural horror film written and directed by Nicolas Pesce. Originally announced as a reboot of the 2004 American remake and the original 2002 Japanese horror film Ju-On: The Grudge, the film ended up taking place before and during the events of the 2004 film and its two direct sequels, and is the fourth installment in the American The Grudge film series. The film stars Andrea Riseborough, Demián Bichir, John Cho, Betty Gilpin, Lin Shaye, and Jacki Weaver, and follows a police officer who investigates several murders that are seemingly connected to a single house.|[Horror, Supernatural]           |The_Grudge_(2020_film)            |https://upload.wikimedia.org/wikipedia/en/3/34/The_Grudge_2020_Poster.jpeg                                 |326             |220            |The Grudge                        |2020|
|[Kristen Stewart, Vincent Cassel, Jessica Henwick, John Gallagher Jr., Mamoudou Athie, T.J. Miller]              |Underwater is a 2020 American science fiction action horror film directed by William Eubank. The film stars Kristen Stewart, Vincent Cassel, Jessica Henwick, John Gallagher Jr., Mamoudou Athie, and T.J. Miller.                                                                                                                                                                                                                                                                                                                                                                                                                        |[Action, Horror, Science Fiction]|Underwater_(film)                 |https://upload.wikimedia.org/wikipedia/en/4/4a/Underwater_poster.jpeg                                      |398             |250            |Underwater                        |2020|
|[Mena Suvari, Nick Stahl, Taryn Manning]                                                                         |The Murder of Nicole Brown Simpson is a 2019 American crime horror film directed by Daniel Farrands. The film is loosely based on the murder of Nicole Brown Simpson, presenting a version of events in which Brown Simpson is murdered by serial killer Glen Edward Rogers, and not by O. J. Simpson, her ex-husband and the primary suspect in the case. Though Mena Suvari's performance as Nicole Brown was praised, the film was panned by critics.                                                                                                                                                                                  |[Crime, Horror]                  |The_Murder_of_Nicole_Brown_Simpson|https://upload.wikimedia.org/wikipedia/en/e/ed/The_Murder_of_Nicole_Brown_Simpson_poster.jpg               |380             |263            |The Murder of Nicole Brown Simpson|2020|
|[Mackenzie Davis, Finn Wolfhard, Brooklynn Prince, Joely Richardson]                                             |The Turning is a 2020 American gothic supernatural horror film directed by Floria Sigismondi and written by Carey W. Hayes and Chad Hayes. It is a modern adaptation of the 1898 ghost story The Turn of the Screw by Henry James. It stars Mackenzie Davis, Finn Wolfhard, Brooklynn Prince, and Joely Richardson, and follows a young governess in 1994 who is hired to watch over two children after their parents are killed.                                                                                                                                                                                                         |[Horror, Supernatural]           |The_Turning_(2020_film)           |https://upload.wikimedia.org/wikipedia/en/a/a2/The_Turning_poster_2020.jpg                                 |397             |251            |The Turning                       |2020|
|[Sophia Lillis, Sammy Leakey, Charles Babalola, Jessica De Gouw, Alice Krige]                                    |Gretel & Hansel is a 2020 dark fantasy horror film based on the German folklore tale "Hansel and Gretel" by the Brothers Grimm. The film is directed by Oz Perkins, and produced by Fred Berger, Brian Kavanaugh-Jones, and Dan Kagan, with a screenplay by Rob Hayes. Sophia Lillis and Sam Leakey portray the titular characters, alongside Alice Krige and Jessica De Gouw. The story follows Gretel and Hansel as they enter the dark woods in order to find work and food, and then stumble upon the home of a witch.                                                                                                                |[Fantasy, Horror]                |Gretel_%26_Hansel                 |https://upload.wikimedia.org/wikipedia/en/d/de/Gretel_%26_Hansel_-_A_Grim_Fairy_Tale_theatrical_poster.jpeg|326             |220            |Gretel & Hansel                   |2020|
|[Riley Keough, Jaeden Martell, Lia McHugh, Richard Armitage, Alicia Silverstone]                                 |The Lodge is a 2019 psychological horror film directed by Veronika Franz and Severin Fiala, written by Franz, Fiala, and Sergio Casci, and starring Riley Keough, Jaeden Martell, Lia McHugh, Alicia Silverstone, and Richard Armitage. Its plot follows a soon-to-be stepmother who, alone with her fiancé's two children, becomes stranded at their rural lodge during Christmas. There, she and the children experience a number of unexplained events that seem to be connected to her past.                                                                                                                                          |[Horror]                         |The_Lodge_(film)                  |https://upload.wikimedia.org/wikipedia/en/c/cf/The_Lodge_poster.jpg                                        |326             |220            |The Lodge                         |2020|
|[Michael Peña, Maggie Q, Lucy Hale, Austin Stowell, Portia Doubleday, Jimmy O. Yang, Ryan Hansen, Michael Rooker]|Fantasy Island, also known as Blumhouse's Fantasy Island, is a 2020 American supernatural horror film directed and co-written by Jeff Wadlow. Serving both as a horror reimagining and a prequel to ABC's 1977 television series of the same name, it stars Michael Peña, Maggie Q, Lucy Hale, Austin Stowell, Jimmy O. Yang, Ryan Hansen, Portia Doubleday, and Michael Rooker and follows a group of people who, while visiting the eponymous island, discover that their dream-like fantasies brought to life begin to turn into horrific living nightmares and they must try to survive.                                              |[Horror, Supernatural]           |Fantasy_Island_(film)             |https://upload.wikimedia.org/wikipedia/en/7/7e/Fantasy_Island_poster.jpg                                   |326             |220            |Fantasy Island                    |2020|
|[Katie Holmes, Owain Yeoman, Christopher Convery, Ralph Ineson]                                                  |Brahms: The Boy II is a 2020 American supernatural horror film starring Katie Holmes, Ralph Ineson, Christopher Convery and Owain Yeoman. A sequel to the 2016 film The Boy, it is directed by William Brent Bell and written by Stacey Menear, the respective director and writer of the original film.                                                                                                                                                                                                                                                                                                                                  |[Horror, Supernatural]           |Brahms:_The_Boy_II                |https://upload.wikimedia.org/wikipedia/en/5/51/Brahms_The_Boy_Poster.jpg                                   |383             |259            |Brahms: The Boy II                |2020|
|[Elisabeth Moss, Aldis Hodge, Storm Reid, Harriet Dyer, Michael Dorman, Oliver Jackson-Cohen]                    |The Invisible Man is a 2020 science fiction horror film written and directed by Leigh Whannell. Inspired by H. G. Wells' novel of the same name, it stars Elisabeth Moss as a woman who believes she is being stalked and gaslit by her seemingly deceased ex-boyfriend after he acquires the ability to become invisible. Aldis Hodge, Storm Reid, Harriet Dyer, and Michael Dorman appear in supporting roles.                                                                                                                                                                                                                          |[Horror, Science Fiction]        |The_Invisible_Man_(2020_film)     |https://upload.wikimedia.org/wikipedia/en/3/3a/The_Invisible_Man_%282020_film%29_-_release_poster.jpg      |383             |259            |The Invisible Man                 |2020|
|[Betty Gilpin, Ike Barinholtz, Amy Madigan, Emma Roberts, Ethan Suplee, Hilary Swank]                            |The Hunt is a 2020 American horror thriller film directed by Craig Zobel and written by Nick Cuse and Damon Lindelof. The film stars Betty Gilpin, Hilary Swank, Ike Barinholtz, and Emma Roberts. Jason Blum was a producer under his Blumhouse Productions banner, along with Lindelof. Zobel and Lindelof have said that the film is intended as a satire on the profound political divide between the American left and right. It is about a group of elites who kidnap working class people to hunt them.                                                                                                                            |[Horror, Thriller]               |The_Hunt_(2020_film)              |https://upload.wikimedia.org/wikipedia/en/a/a9/The_Hunt_2020_poster.png                                    |397             |251            |The Hunt                          |2020|
|[Alexandra Daddario, Keean Johnson, Logan Miller, Maddie Hasson, Amy Forsyth, Austin Swift, Johnny Knoxville]    |We Summon the Darkness is a 2019 American horror thriller film directed by Marc Meyers and written by Alan Trezza. The film stars Alexandra Daddario, Keean Johnson, Maddie Hasson, Amy Forsyth, Logan Miller, Austin Swift, and Johnny Knoxville.                                                                                                                                                                                                                                                                                                                                                                                        |[Horror, Thriller]               |We_Summon_the_Darkness            |https://upload.wikimedia.org/wikipedia/en/5/5d/We_Summon_the_Darkness_film_poster.png                      |326             |220            |We Summon the Darkness            |2020|
|[Cody Renee Cameron, Russell Coker, Robin Sydney]                                                                |Corona Zombies is a 2020 American comedy horror film directed by Charles Band, and produced and distributed by Full Moon Features. Inspired by the COVID-19 pandemic, the film stars Cody Renee Cameron as Barbie, a woman who finds herself facing an outbreak of zombies infected by coronavirus disease 2019 (COVID-19). Alongside Cameron, the film stars Russell Coker and Robin Sydney.                                                                                                                                                                                                                                             |[Comedy, Horror]                 |Corona_Zombies                    |https://upload.wikimedia.org/wikipedia/en/2/2c/Corona_Zombies_%282020%29_poster.jpg                        |367             |245            |Corona Zombies                    |2020|
|[John-Paul Howard, Piper Curda, Zarah Mahler, Kevin Bigley]                                                      |The Wretched is a 2019 American supernatural horror film written and directed by the Pierce Brothers. It stars John-Paul Howard, Piper Curda, Zarah Mahler, Kevin Bigley, Gabriela Quezada Bloomgarden, Richard Ellis, Blane Crockarell, Jamison Jones, and Azie Tesfai. The film follows a defiant teenage boy who faces off with an evil witch posing as the neighbor next door.                                                                                                                                                                                                                                                        |[Horror, Supernatural]           |The_Wretched_(film)               |https://upload.wikimedia.org/wikipedia/en/d/df/The_Wretched_%28film%29_poster.jpg                          |383             |259            |The Wretched                      |2020|
|[Mary J. Blige, Nat Wolff, David Zayas, David Warshofsky, Demetrius Grosse, Anika Noni Rose]                     |Body Cam is a 2020 American police procedural horror film directed by Malik Vitthal, from a screenplay by Nicholas McCarthy and Richmond Riedel and a story by Riedel. The film stars Mary J. Blige, Nat Wolff, David Zayas, David Warshofsky, Demetrius Grosse and Anika Noni Rose.                                                                                                                                                                                                                                                                                                                                                      |[Horror]                         |Body_Cam_(film)                   |https://upload.wikimedia.org/wikipedia/en/b/b4/Body_Cam_poster.jpg                                         |387             |258            |Body Cam                          |2020|
|[Kevin Bacon, Amanda Seyfried]                                                                                   |You Should Have Left is a 2020 American psychological horror film written and directed by David Koepp, based on the 2017 book of the same name by Daniel Kehlmann. It stars Kevin Bacon, and Amanda Seyfried. Jason Blum served as a producer through his Blumhouse Productions banner.                                                                                                                                                                                                                                                                                                                                                   |[Horror]                         |You_Should_Have_Left              |https://upload.wikimedia.org/wikipedia/en/7/73/You_Should_Have_Left_Poster_2020.jpeg                       |396             |252            |You Should Have Left              |2020|
|[Emily Mortimer, Robyn Nevin, Bella Heathcote]                                                                   |Relic is a 2020 Australian psychological horror film directed by Natalie Erika James from a screenplay by James and Christian White. The film stars Emily Mortimer, Robyn Nevin, and Bella Heathcote.                                                                                                                                                                                                                                                                                                                                                                                                                                     |[Horror]                         |Relic_(2020_film)                 |https://upload.wikimedia.org/wikipedia/en/7/7a/Relic_poster.jpeg                                           |383             |259            |Relic                             |2020|
|[Brenton Thwaites, Theo Rossi, Skylar Astin, Kyle Gallner, Alan Ritchson]                                        |Ghosts of War is a 2020 British supernatural horror film written and directed by Eric Bress. The film stars Brenton Thwaites, Theo Rossi, Skylar Astin, Kyle Gallner, and Alan Ritchson. It was released on DirecTV on 18 June 2020.                                                                                                                                                                                                                                                                                                                                                                                                      |[Horror, Supernatural]           |Ghosts_of_War_(2020_film)         |https://upload.wikimedia.org/wikipedia/en/7/72/Ghosts-of-War-Poster.jpg                                    |383             |259            |Ghosts of War                     |2020|

1.dWhich movies has the longest abstract?

In [5]:
# Calculate the lengths of the 'extract' field (assuming this is the abstract)
movies_df = movies_df.withColumn("extract_length", length(col("extract")))

# Find the movie with the longest 'extract'
longest_extract_movie = movies_df.orderBy(col("extract_length").desc()).select("title", "extract_length").first()

# Print the result for the movie with the longest 'extract'
print("\nMovie with the Longest Extract:")
print("Title:", longest_extract_movie["title"])
print("Extract Length:", longest_extract_movie["extract_length"])

Movie with the Longest Extract:
Title: Puss in Boots: The Last Wish
Extract Length: 1389


2.a) Create a function to genereate a random point (use random.random() ) and compute if this point is in the unit circle. Your function must take a number as argument (even if it does not use it)

In [6]:
from pyspark import SparkContext
import random

def is_point_in_unit_circle(point):
    x, y = point
    return x**2 + y**2 <= 1

2.b) Test your function on some iteration

In [7]:
for _ in range(5):
        print(is_point_in_unit_circle((random.random(), random.random())))

False
False
False
True
True

2.c) Now, let’s use the power of Spark to compute the approximation of pi: we will create a RDD with N values inside. We can now filter this RDD. filter is a method that take a boolean function as argument. It then applu this function to every element of the RDD and only keep the ones that returned true (hence the need of a value as argument for our function).
d) We now only need to count() the number of entry and multiply it by N4

In [8]:
def approximate_pi_spark(sc, N):
    # Create an RDD with N random points
    points_rdd = sc.parallelize([(random.random(), random.random()) for _ in range(N)])

    # Use filter to keep only points inside the unit circle
    inside_circle_rdd = points_rdd.filter(is_point_in_unit_circle)

    # Count the number of points inside the unit circle
    inside_circle_count = inside_circle_rdd.count()

    # Compute the approximation of pi
    pi_approximation = (inside_circle_count / N) * 4

    return pi_approximation

2.e)Try this method with N=1000, 50000, 800000.

In [9]:
from pyspark import SparkContext

def main():
    # Check if a SparkContext already exists
    sc = SparkContext.getOrCreate()

    # Use Spark to approximate pi with different values of N
    N_values = [1000, 50000, 800000]
    for N in N_values:
        pi_approximation = approximate_pi_spark(sc, N)
        print(f"Approximation of pi with N={N}: {pi_approximation}")


if __name__ == "__main__":
    main()

Approximation of pi with N=1000: 3.144
Approximation of pi with N=50000: 3.1352
Approximation of pi with N=800000: 3.144155

2.f) if we ofter repeat a method with the exact same parameters, we like to embedded in another method. This will be the case as we want to write every answer in the same file/folder. This method must check if the object is an RDD, a DataFrame or another class to determine which write methode to use.

In [10]:
def write_spark_object(spark_object, file_path):
    if isinstance(spark_object, RDD):
        spark_object.saveAsTextFile(file_path)
    elif isinstance(spark_object, DataFrame):
        spark_object.write.csv(file_path)
    else:
        with open(file_path, 'w') as file:
            file.write(str(spark_object))

3.a) Read the movie.csv file with the read command and the header option. How many lines are in the dataframe? You can access the columns and their types with df.columns and df.dtypes

In [11]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("Movies Analysis").getOrCreate()

# Read the 'movies.csv' file
df = spark.read.option("header", True).csv("movies.csv")

# Count the number of lines
line_count = df.count()
print("Number of lines in the DataFrame:", line_count)

# Access columns and their types
print("Columns:", df.columns)
print("Data Types:", df.dtypes)

Number of lines in the DataFrame: 45572
Columns: ['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count']
Data Types: [('adult', 'string'), ('belongs_to_collection', 'string'), ('budget', 'string'), ('genres', 'string'), ('homepage', 'string'), ('id', 'string'), ('imdb_id', 'string'), ('original_language', 'string'), ('original_title', 'string'), ('overview', 'string'), ('popularity', 'string'), ('poster_path', 'string'), ('production_companies', 'string'), ('production_countries', 'string'), ('release_date', 'string'), ('revenue', 'string'), ('runtime', 'string'), ('spoken_languages', 'string'), ('status', 'string'), ('tagline', 'string'), ('title', 'string'), ('video', 'string'), ('vote_average', 'string'), ('vote_count', 'string')]

3.b)We can access the column of the df with df.col_name. The method filter or where behave like the previous filter. Use this to get the number of movies from 2012

In [12]:
from pyspark.sql.functions import year

movies_2012_count = df.filter(year(df.release_date) == 2012).count()
print("Number of movies from 2012:", movies_2012_count)

Number of movies from 2012: 1599

3.c)Use the select to keep the title, budget and revenue from movie that were profitable

In [13]:
profitable_movies = df.filter(df.revenue > df.budget).select("title", "budget", "revenue")
profitable_movies.show()

+--------------------+--------+--------------------+
|               title|  budget|             revenue|
+--------------------+--------+--------------------+
|           Toy Story|30000000|           373554033|
|[{'iso_639_1': 'e...|16000000|[{'name': 'Twenti...|
|Father of the Bri...|       0|            76578911|
|        Sudden Death|35000000|            64350171|
|               Balto|       0|            11348324|
|          Four Rooms| 4000000|             4300000|
|   Leaving Las Vegas| 3600000|            49800000|
|        Now and Then|12000000|            27400000|
|     Dangerous Minds|       0|           180000000|
|    Dead Man Walking|11000000|            39363635|
|Cry, the Beloved ...|       0|              676525|
|[{'iso_639_1': 'e...|10000000|[{'name': 'Carava...|
|          To Die For|20000000|            21284514|
|How To Make An Am...|10000000|            23574130|
|[{'iso_639_1': 'e...|33000000|[{'name': 'New Li...|
|    Mighty Aphrodite|15000000|             6700000|
|Home for the Holi...|       0|            17519169|
|  Mr. Holland's Opus|       0|           106269971|
|Bud and Doyle are...|15000000|          1996-01-12|
|Lawnmower Man 2: ...|       0|             2409225|
+--------------------+--------+--------------------+
only showing top 20 rows

3.d)The colRegex method is useful to put a regex. Use it to fine every movies with a number in it’s title

In [14]:
movies_with_number = df.filter(df.title.rlike("\d"))
movies_with_number.show()

+-----+---------------------+--------+--------------------+--------------------+------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|adult|belongs_to_collection|  budget|              genres|            homepage|    id|  imdb_id|original_language|      original_title|            overview|          popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|              status|             tagline|               title|               video|        vote_average|          vote_count|
+-----+---------------------+--------+--------------------+--------------------+------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|False|                 NULL|16000000|[{'id': 35, 'name...|                NULL| 31357|tt0114885|               en|   Waiting to Exhale|"Cheated on, mist...|              Bernie| Glo and Robin ta...| determined to fi...|            3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|          1995-12-22|            81452156|               127.0|[{'iso_639_1': 'e...|            Released|Friends are the p...|   Waiting to Exhale|
|False| {'id': 91698, 'na...|30250000|[{'id': 35, 'name...|                NULL|  8012|tt0113161|               en|          Get Shorty|"Chili Palmer is ...| to collect a bad...| a Hollywood prod...| the romantic spa...| Chili learns tha...|           12.669608|/vWtDUUgQAsVyvRW4...|[{'name': 'Jersey...|[{'iso_3166_1': '...|          1995-10-20|           115101622|               105.0|[{'iso_639_1': 'e...|            Released|The mob is tough,...|
|False|                 NULL|10000000|[{'id': 28, 'name...|                NULL| 11443|tt0112819|               en|     Dead Presidents|"Depicts a heist ...|        more broadly| it addresses the...|  during the 1960s."|             9.87957|/2dLyvXVvJXUR9oto...|[{'name': 'Carava...|[{'iso_3166_1': '...|          1995-10-06|                   0|               119.0|[{'iso_639_1': 'e...|            Released|In this daring he...|     Dead Presidents|
|False|                 NULL|33000000|[{'id': 80, 'name...|http://www.sevenm...|   807|tt0114369|               en|               Se7en|"Two homicide det...| while his novice...|               Mills| scoffs at his ef...|            18.45743|/8zw8IL4zEPjkh8Ay...|[{'name': 'New Li...|[{'iso_3166_1': '...|          1995-09-22|           327311859|               127.0|[{'iso_639_1': 'e...|            Released|Seven deadly sins...|               Se7en|
|False| {'id': 124935, 'n...|       0|[{'id': 28, 'name...|                NULL| 11525|tt0116839|               en|Lawnmower Man 2: ...|Jobe is resuscita...|             2.49535|/i0hBsWBLw64XRehF...|[{'name': 'New Li...|[{'iso_3166_1': '...|          1996-01-12|             2409225|                92.0|[{'iso_639_1': 'e...|            Released|God made him simp...|Lawnmower Man 2: ...|               False|                 2.8|                  32|
|False|                 NULL|44000000|[{'id': 18, 'name...|                NULL|  9623|tt0116731|               en|           The Juror|"With his gangste...| implying that he...|                 but| when it becomes ...| she sends Oliver...| setting up a fin...|            6.010579|/7aXOB0DyZPxNOYba...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1996-02-02|                   0|               118.0|[{'iso_639_1': 'e...|            Released|
|False|                 NULL|       0|                  []|                NULL|188588|tt0113612|               en|Last Summer in th...|"Filmed entirely ...|           directors| and playwrights....| comic as well as...| and the family's...|            0.531159|/pfgpkDNcwSi1x4jV...|                  []|                  []|          1995-11-22|                   0|               108.0|                  []|            Released|                NULL|
|False|                 NULL|       0|[{'id': 35, 'name...|                NULL|  9283|tt0115639|               en|     Beautiful Girls|"During a snowy w...|       Massachusetts| a group of lifel...| drink and strugg...| dreams and desir...|            4.670562|/8leYqrAL6EubYjOC...|[{'name': 'Mirama...|[{'iso_3166_1': '...|          1996-02-09|                   0|               112.0|[{'iso_639_1': 'e...|            Released|Good times never ...|
|False|                 NULL|52000000|[{'id': 18, 'name...|                NULL|   568|tt0112384|               en|           Apollo 13|The true story of...|           18.761467|/6JQ9z3V9x4vlU2GS...|[{'name': 'Imagin...|[{'iso_3166_1': '...|          1995-06-30|           355237933|               140.0|[{'iso_639_1': 'e...|            Released|Houston, we have ...|           Apollo 13|               False|                 7.3|                1637|
|False| {'id': 9328, 'nam...|       0|[{'id': 12, 'name...|                NULL|  9073|tt0113114|               en|Free Willy 2 - Th...|Jesse becomes reu...|            7.575098|/yLyyjm4m3fSvbazy...|[{'name': 'Regenc...|[{'iso_3166_1': '...|          1995-07-19|                   0|                95.0|[{'iso_639_1': 'e...|            Released|The adventure is ...|Free Willy 2 - Th...|               False|                 5.5|                 130|
|False|                 NULL|       0|[{'id': 18, 'name...|                NULL| 32646|tt0114323|               en|                Safe|"Carol, a typical...|"" has unexplaine...|          congestion|         a dry cough|          nosebleeds|            vomiting| and trouble brea...| an allergist tel...|            8.180047|/ihX2udk636JMAAaW...|[{'name': 'Killer...|[{'iso_3166_1': '...|          1995-06-23|                   0|               119.0|
|False|                 NULL|       0|[{'id': 18, 'name...|                NULL|139408|tt0114534|               en|The Stars Fell on...|The setting is ea...|            0.913522|/5mkH38tcztyLy6Ce...|"[{'name': 'Malpa...|         'id': 3864}| {'name': 'Warner...|       'id': 6194}]"|[{'iso_3166_1': '...|          1995-09-15|                   0|               109.0|[{'iso_639_1': 'h...|            Released|                NULL|The Stars Fell on...|
|False|                 NULL|       0|[{'id': 18, 'name...|                NULL| 47939|tt0114663|               en|        Three Wishes|"While Jane Holma...|      and Jack's dog| and are never su...|              family| and learning tha...|           11.002046|/ub79b63JJV4oeHwo...|[{'name': 'Savoy ...|[{'iso_3166_1': '...|          1995-10-27|             7025496|               115.0|[{'iso_639_1': 'e...|            Released|If you really bel...|
|False| {'id': 112399, 'n...|60000000|[{'id': 28, 'name...|                NULL|  3512|tt0114781|               en|Under Siege 2: Da...|A passenger train...|            7.490247|/6Z1p71nkm45cYuIZ...|[{'name': 'Regenc...|[{'iso_3166_1': '...|          1995-07-13|           104324083|               100.0|[{'iso_639_1': 'e...|            Released|Last time he rock...|Under Siege 2: Da...|               False|                 5.6|                 217|
|False|                 NULL|       0|[{'id': 99, 'name...|                NULL| 77350|tt0114805|               en|            Unzipped|"Using a variety ...|              actors| and actresses po...| but Douglas Keev...|            0.786023|/5fY5iN8mUBLdd4fm...|                  []|[{'iso_3166_1': '...|          1995-08-11|                   0|                73.0|[{'iso_639_1': 'e...|            Released|                NULL|            Unzipped|
|False|                 NULL|18000000|[{'id': 35, 'name...|                NULL|   522|tt0109707|               en|             Ed Wood|"The mostly true ...|                 who| with the help of...| filmed countless...|           11.720358|/9qBe2sUDyY2dFH1i...|[{'name': 'Touchs...|[{'iso_3166_1': '...|          1994-09-27|             5887457|               127.0|[{'iso_639_1': 'e...|            Released|When it came to m...|             Ed Wood|
|False|                 NULL|       0|[{'id': 35, 'name...|                NULL| 18713|tt0110189|               en|      The Jerky Boys|"When two unemplo...| the trouble begi...|          the police| and their neighb...|            0.748846|/lXu3oa1mQzI2sDsF...|[{'name': 'Carava...|[{'iso_3166_1': '...|          1995-02-03|                   0|                82.0|[{'iso_639_1': 'e...|            Released|                NULL|      The Jerky Boys|
|False|                 NULL|       0|[{'id': 18, 'name...|                NULL| 49980|tt0110296|               en|   Ladybird Ladybird|"This Ken Loach d...| a Paraguayan exp...| and they start a...| Social Services ...|      and separately| fight Social Ser...|         Immigration| and other govern...|             0.84508|/9YgIxxPsWMwoIFrB...|[{'name': 'Channe...|[{'iso_3166_1': '...|          1994-02-18|                   0|               101.0|
|False|                 NULL|45000000|[{'id': 18, 'name...|                NULL|  3036|tt0109836|               en|        Frankenstein|"Based on Mary Sh...| a promising youn...| devastated by th...| becomes obsessed...| which Frankenste...|           14.287753|/uG0YLHdiBuWBv99M...|[{'name': 'Americ...|[{'iso_3166_1': '...|          1994-11-04|           112006296|               123.0|[{'iso_639_1': 'e...|            Released|Be Warned.  It's ...|
|False|                 NULL|       0|[{'id': 14, 'name...|                NULL| 10510|tt0110527|               en|Miracle on 34th S...|A little girl dis...|            5.831622|/iuI31j8DM4TOxJTZ...|[{'name': 'Twenti...|[{'iso_3166_1': '...|          1994-11-18|            46264384|               114.0|[{'iso_639_1': 'e...|            Released|If you really bel...|Miracle on 34th S...|               False|                 6.4|                 199|
+-----+---------------------+--------+--------------------+--------------------+------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

3.e)The dataframe can run the join command, to perform join on table when possinle. We can now use the rating table to get a dataframe with the rating, budget, revenue, date (year), orignal language.

In [15]:
# Read the ratings CSV file
ratings_df = spark.read.option("header", True).csv("ratings.csv")

# Perform the join
joined_df = df.join(ratings_df, df.id == ratings_df.movieId).select(df.title, df.budget, df.revenue, df.release_date, df.original_language, ratings_df.rating)

# Show the joined DataFrame
joined_df.show()

+----------------+--------+---------+------------+-----------------+------+
|           title|  budget|  revenue|release_date|original_language|rating|
+----------------+--------+---------+------------+-----------------+------+
|            Heat|60000000|187436818|  1995-12-15|               en|   4.0|
|            Heat|60000000|187436818|  1995-12-15|               en|   4.0|
|            Heat|60000000|187436818|  1995-12-15|               en|   4.0|
|            Heat|60000000|187436818|  1995-12-15|               en|   4.0|
|            Heat|60000000|187436818|  1995-12-15|               en|   4.0|
|       GoldenEye|58000000|352194034|  1995-11-16|               en|   2.5|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   4.5|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   4.5|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   5.0|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   3.0|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   1.0|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   3.0|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   3.0|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   4.0|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   2.0|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   5.0|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   4.5|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   4.0|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   5.0|
|Cutthroat Island|98000000| 10017322|  1995-12-22|               en|   4.0|
+----------------+--------+---------+------------+-----------------+------+
only showing top 20 rows

3.f)Check the Schema of the last dataframe obtained. If needed cast the columns into float (use cast(’float’))

In [16]:
# Check the schema
joined_df.printSchema()

# Cast columns to float if needed
joined_df = joined_df.withColumn("budget", joined_df.budget.cast('float')).withColumn("revenue", joined_df.revenue.cast('float'))

# Check the schema again after casting
joined_df.printSchema()

root
 |-- title: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- revenue: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- rating: string (nullable = true)

root
 |-- title: string (nullable = true)
 |-- budget: float (nullable = true)
 |-- revenue: float (nullable = true)
 |-- release_date: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- rating: string (nullable = true)

4.a) First step, as always, load the file into spartk. How many rows are in the file? Make sure that you have a DataFrame object

In [17]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("Titanic Data Analysis").getOrCreate()

# Load the Titanic dataset
titanic_df = spark.read.option("header", True).csv("train.csv")

# Count the number of rows
row_count = titanic_df.count()
print("Number of rows in the Titanic dataset:", row_count)

Number of rows in the Titanic dataset: 891

4.b) The command df.toPandas() shoudl make for a better vizualisation. However it will only work with small dataset as the data must be in memory

In [18]:
# Convert to Pandas DataFrame for visualization
titanic_pd_df = titanic_df.toPandas()
titanic_pd_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,None,S

4.c) Convert the columns that should be float (show the first values to see when you do need a float)

In [19]:
from pyspark.sql.functions import col

# Convert 'Age' and 'Fare' to float
titanic_df = titanic_df.withColumn("Age", col("Age").cast('float'))
titanic_df = titanic_df.withColumn("Fare", col("Fare").cast('float'))

# Convert 'Survived', 'Pclass', 'SibSp', and 'Parch' to integer
titanic_df = titanic_df.withColumn("Survived", col("Survived").cast('integer'))
titanic_df = titanic_df.withColumn("Pclass", col("Pclass").cast('integer'))
titanic_df = titanic_df.withColumn("SibSp", col("SibSp").cast('integer'))
titanic_df = titanic_df.withColumn("Parch", col("Parch").cast('integer'))

# Show the first few values to verify the changes
titanic_df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

4.d) Use the describe() method to have a good view of the dataset

In [20]:
# Describe the dataset
titanic_description = titanic_df.describe().toPandas()
titanic_description

,summary,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,count,891,891,891,891,891,714,891,891,891,891,204,889
1,mean,446.0,0.3838383838383838,2.308641975308642,None,None,29.69911764704046,0.5230078563411896,0.38159371492704824,260318.54916792738,32.20420804114722,None,None
2,stddev,257.3538420152301,0.48659245426485753,0.8360712409770491,None,None,14.526497332370992,1.1027434322934315,0.8060572211299488,471609.26868834975,49.69342916316158,None,None
3,min,1,0,1,"""Andersson, Mr. August Edvard (""""Wennerstrom"""")""",female,0.42,0,0,110152,0.0,A10,C
4,max,99,1,3,"van Melkebeke, Mr. Philemon",male,80.0,8,6,WE/P 5735,512.3292,T,S

Question 5
a) The call count(isnull(c), c)) will act as an if to catch None values. We will call this method for each column. We now only need to count the values.
b) You should only having 2 Embarked and 177 Age missing
c) Use show and some queries to understand which character is used to represent missing values. Replace it with None
d) The dropna(how=’any) call will remove every nulls values
Almost done! We need to make sure that we work with numerical data:
• StringIndexer(inputCol=,outputCol=,handleInvalid=’keep’).fit(dataset).transform(dataset)willreturnadataset where the specified column has been added with a number. Use this approch to only have numerical values
• You can now drop the columns with no numerical attributes

In [21]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Assuming 'dataset' is your PySpark DataFrame
for column in titanic_df.columns:
    null_count = titanic_df.filter(col(column).isNull()).count()
    print(f"Number of null values in column '{column}': {null_count}")

Number of null values in column 'PassengerId': 0
Number of null values in column 'Survived': 0
Number of null values in column 'Pclass': 0
Number of null values in column 'Name': 0
Number of null values in column 'Sex': 0
Number of null values in column 'Age': 177
Number of null values in column 'SibSp': 0
Number of null values in column 'Parch': 0
Number of null values in column 'Ticket': 0
Number of null values in column 'Fare': 0
Number of null values in column 'Cabin': 687
Number of null values in column 'Embarked': 2

In [22]:
embarked_missing_count = titanic_df.filter(col('Embarked').isNull()).count()
age_missing_count = titanic_df.filter(col('Age').isNull()).count()

print(f"Number of missing values in 'Embarked': {embarked_missing_count}")
print(f"Number of missing values in 'Age': {age_missing_count}")

Number of missing values in 'Embarked': 2
Number of missing values in 'Age': 177

In [23]:
from pyspark.sql.functions import col, when
# Identifying missing values in 'age' column and storing the missing values character
missing_values_char = titanic_df.select("age").distinct().filter(col("age").isNull()).head()[0]
missing_values_char = str(missing_values_char)

# Replacing missing values in 'age' column with 'None'
titanic_df = titanic_df.withColumn("age", when(col("age") == missing_values_char, None).otherwise(col("age")))

# Dropping rows with any null values from the DataFrame
titanic_df_no_nulls = titanic_df.dropna(how='any')
titanic_df = titanic_df.dropna(subset=["Age", "Embarked"])
# Displaying the modified DataFrame
titanic_df_no_nulls.show()

+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| age|SibSp|Parch|     Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|   PC 17599| 71.2833|        C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|     113803|    53.1|       C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|      17463| 51.8625|        E46|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|    PP 9549|    16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|     113783|   26.55|       C103|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|     248698|    13.0|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|     113788|    35.5|         A6|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|   PC 17572| 76.7292|        D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|     113509| 61.9792|        B30|       C|
|         63|       0|     1|Harris, Mr. Henry...|  male|45.0|    1|    0|      36973|  83.475|        C83|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0| C.A. 29395|    10.5|        F33|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|25.0|    0|    0|     348123|    7.65|      F G73|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|
|         93|       0|     1|Chaffee, Mr. Herb...|  male|46.0|    1|    0|W.E.P. 5734|  61.175|        E31|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0|   PC 17754| 34.6542|         A5|       C|
|         98|       1|     1|Greenfield, Mr. W...|  male|23.0|    0|    1|   PC 17759| 63.3583|    D10 D12|       C|
|        103|       0|     1|White, Mr. Richar...|  male|21.0|    0|    1|      35281| 77.2875|        D26|       S|
|        111|       0|     1|Porter, Mr. Walte...|  male|47.0|    0|    0|     110465|    52.0|       C110|       S|
|        119|       0|     1|Baxter, Mr. Quigg...|  male|24.0|    0|    1|   PC 17558|247.5208|    B58 B60|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
only showing top 20 rows

In [24]:
from pyspark.ml.feature import StringIndexer

# Convert 'Sex' column to numerical
indexer_sex = StringIndexer(inputCol="Sex", outputCol="SexIndexed", handleInvalid='keep')
titanic_df = indexer_sex.fit(titanic_df).transform(titanic_df)

# Convert 'Embarked' column to numerical
indexer_embarked = StringIndexer(inputCol="Embarked", outputCol="EmbarkedIndexed", handleInvalid='keep')
titanic_df = indexer_embarked.fit(titanic_df).transform(titanic_df)

In [25]:
from pyspark.ml.feature import StringIndexer
# StringIndexer to convert string columns to numerical data
string_indexer = StringIndexer(inputCol="age", outputCol="age_numeric_new", handleInvalid="keep")
titanic_df = string_indexer.fit(titanic_df).transform(titanic_df)

# Drop columns with no numerical attributes
numeric_columns = [col for col, dtype in titanic_df.dtypes if dtype != "string"]
titanic_df = titanic_df[numeric_columns]
# Display the modified DataFrame with numerical data only
titanic_df.show()

+--------+------+----+-----+-----+-------+----------+---------------+---------------+
|Survived|Pclass| age|SibSp|Parch|   Fare|SexIndexed|EmbarkedIndexed|age_numeric_new|
+--------+------+----+-----+-----+-------+----------+---------------+---------------+
|       0|     3|22.0|    1|    0|   7.25|       0.0|            0.0|            1.0|
|       1|     1|38.0|    1|    0|71.2833|       1.0|            1.0|           26.0|
|       1|     3|26.0|    0|    0|  7.925|       1.0|            0.0|           10.0|
|       1|     1|35.0|    1|    0|   53.1|       1.0|            0.0|           13.0|
|       0|     3|35.0|    0|    0|   8.05|       0.0|            0.0|           13.0|
|       0|     1|54.0|    0|    0|51.8625|       0.0|            0.0|           32.0|
|       0|     3| 2.0|    3|    1| 21.075|       0.0|            0.0|           25.0|
|       1|     3|27.0|    0|    2|11.1333|       1.0|            0.0|           11.0|
|       1|     2|14.0|    1|    0|30.0708|       1.0|            1.0|           36.0|
|       1|     3| 4.0|    1|    1|   16.7|       1.0|            0.0|           27.0|
|       1|     1|58.0|    0|    0|  26.55|       1.0|            0.0|           44.0|
|       0|     3|20.0|    0|    0|   8.05|       0.0|            0.0|           16.0|
|       0|     3|39.0|    1|    5| 31.275|       0.0|            0.0|           20.0|
|       0|     3|14.0|    0|    0| 7.8542|       1.0|            0.0|           36.0|
|       1|     2|55.0|    0|    0|   16.0|       1.0|            0.0|           65.0|
|       0|     3| 2.0|    4|    1| 29.125|       0.0|            2.0|           25.0|
|       0|     3|31.0|    1|    0|   18.0|       1.0|            0.0|           15.0|
|       0|     2|35.0|    0|    0|   26.0|       0.0|            0.0|           13.0|
|       1|     2|34.0|    0|    0|   13.0|       0.0|            0.0|           19.0|
|       1|     3|15.0|    0|    0| 8.0292|       1.0|            2.0|           42.0|
+--------+------+----+-----+-----+-------+----------+---------------+---------------+
only showing top 20 rows

6
a) Create a list with the name of the 5 column that you will use for the model.
b) Import the VectorAssembler class from the pyspark.ml.feature lib
c) assembler=VectorAssembler(inputCols=required_features,outputCol=’features’)andthentransformthedataset and put them in transformed_data
d) We can now train a model: assembler = VectorAssembler(inputCols=required_features, outputCol=’features’)
e) As always, we need to split the dataset between training_data and test_data
f) Let’s import the RandomForstClassifierfrom pyspark.ml.classification import RandomForestClassifier
g) create a RandomForest with the following argument: labelCol=’Survived’, featuresCol=’features’, maxDepth=5 As you can see, we can only provide one column to the classifier
h) Actually train the model: call the fit method from the randomForest on training_data
i) The model onject has a method to turn a RDD (test_data) into a prediction with the transform method
j) Last step, we need an evaluator. imort the lib: from pyspark.ml.evaluation import MulticlassClassificationEval- uator
k) Create a MultiClassClassificationEvaluatore with labelCol=’Survived’, predictionCol=’prediction’, metricName=’accuracy
l) Finally, you can call the evaluate method and print the result! Try different values and split to see which one give you the better values!
m) Use the same approach to compute the correlation matrix of the last movies tables we obtained (method corr de Correlation, se trouvant dans le package pyspark.ml.stat.

In [29]:
required_features = ["Pclass", "age", "Fare", "Survived", "EmbarkedIndexed"]

In [30]:
from pyspark.ml.feature import VectorAssembler

In [31]:
assembler = VectorAssembler(inputCols=required_features, outputCol='features')
transformed_data = assembler.transform(titanic_df)

In [32]:
training_data, test_data = transformed_data.randomSplit([0.9, 0.09], seed=42)

In [33]:
from pyspark.ml.classification import RandomForestClassifier
random_forest = RandomForestClassifier(labelCol='Survived', featuresCol='features', maxDepth=5)
rf_model = random_forest.fit(training_data)
predictions = rf_model.transform(test_data)
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator = MulticlassClassificationEvaluator(labelCol='Survived', predictionCol='prediction', metricName='accuracy')
accuracy = evaluator.evaluate(predictions)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [34]:
from pyspark.sql.functions import col
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation



# Converting 'rating' to float if it's numeric
joined_df = joined_df.withColumn("rating", col("rating").cast('float'))

# Select only the columns that are relevant and already in a numeric format
selected_columns = ['budget', 'revenue', 'rating']

# Remove rows with null values in the selected columns
cleaned_joined_df = joined_df.dropna(subset=selected_columns)

# Assemble the features into a vector
assembler = VectorAssembler(inputCols=selected_columns, outputCol="features")
joined_df_vector = assembler.transform(cleaned_joined_df)

# Compute the correlation matrix
correlation_matrix = Correlation.corr(joined_df_vector, "features").head()

# Print the correlation matrix
print("Correlation Matrix:")
print(correlation_matrix[0])

Correlation Matrix:
DenseMatrix([[ 1.        ,  0.71188117, -0.00246142],
             [ 0.71188117,  1.        , -0.00184857],
             [-0.00246142, -0.00184857,  1.        ]])